html,
body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 944px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NAV STYLES */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 2px;
  gap: 8px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.logo-text {
  color: #f07f2e;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-left: 8px;
}

.menu-item {
  margin: 0 20px 0 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* NAV STYLES */

/* HEADER STYLES */

.header {
  background-image: url(/images/header.jpg);
  background: no-repeat center cover;
  height: 480px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 60px;
}

.header-text {
  position: absolute;
  left: 28px;
  bottom: 52px;
  width: 432px;
  background-color: #0f3f3c;
  border-radius: 16px;
  padding: 24px;
}

.header h1 {
  color: white;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.header p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* HEADER STYLES */

/* MAIN STYLES */

.friends-list {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 40px 0 60px 0px;
}

.friends-list li img {
  border-radius: 16px 16px 0px 0px;
}

.family {
  margin-bottom: 60px;
}

.family-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 16px;
}

.family-list li img {
  border-radius: 16px;
}

/* MAIN STYLES */

/* FOOTER */
.footer {
  background-color: #0f3f3c;
}
/* FOOTER */
